        <div id='nav'>
            <ul id='sitemap'>
                <li><a href='/'>Home</a></li>
                <li><a href='/signup'>Signup</a></li>
            </ul>
        </div>
    </body>
</html>
