<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAlt4taos_UOZxTR6wQGFQ4th-Aj2CYDuw",
            authDomain: "personality-factory.firebaseapp.com",
            databaseURL: "https://personality-factory.firebaseio.com",
            projectId: "personality-factory",
            storageBucket: "personality-factory.appspot.com",
            messagingSenderId: "1034628111785",
            appId: "1:1034628111785:web:1321081fdc402dfe87b8b8",
            measurementId: "G-17CPPM12EB"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
        <div id='nav'>
            <ul id='sitemap'>
                <li><a href='/'>Home</a></li>
            </ul>
        </div>
    </body>
</html>
