<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title><%= title %></title>
    </head>
    <body>

        <div class="container">

            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Personality Factory</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="account">Account</a></li>
                        <li><a id="logout" href="#">Logout</a></li>
                    </ul>
                </div>
            </nav>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

            <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
            <script>
                var firebaseConfig = {
                    apiKey: "AIzaSyAlt4taos_UOZxTR6wQGFQ4th-Aj2CYDuw",
                    authDomain: "personality-factory.firebaseapp.com",
                    databaseURL: "https://personality-factory.firebaseio.com",
                    projectId: "personality-factory"
                };
                // Initialize Firebase
                firebase.initializeApp(firebaseConfig);
                const auth = firebase.auth()
                const db = firebase.firestore()
            </script>

            <!-- CUSTOM AUTH JS -->
            <script type="text/javascript">
                const setUpUI = user => {
                    if (user) {
                        console.log('User logged in.')
                    } else {
                        console.log('User logged out.')
                    }
                }

                // listen for auth status changes
                auth.onAuthStateChanged(user => {
                    console.log("Auth state changed.")
                    window.user = user
                    setUpUI(user)
                })

                // logout
                const logout = document.querySelector('#logout')
                logout.addEventListener('click', e => {
                    e.preventDefault()
                    auth.signOut().then(() => {
                        console.log("User signed out.")
                        window.location.replace('/splash')
                    })
                })
            </script>
