<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title><%= title %></title>
    </head>
    <body>
        <div id="splash-container">
            <img id="splash" class="responsive-img" src="/images/cover.png">
            <button
                id="login-button"
                class="btn-large waves-effect waves-light"
                type="submit"
                name="action">
                Login
            </button>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyAlt4taos_UOZxTR6wQGFQ4th-Aj2CYDuw",
                authDomain: "personality-factory.firebaseapp.com",
                databaseURL: "https://personality-factory.firebaseio.com",
                projectId: "personality-factory"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            const auth = firebase.auth()
            const db = firebase.firestore()
            // login
            const login = document.querySelector('#login-button')
            login.addEventListener('click', e => {
                e.preventDefault()
                const provider = new firebase.auth.GoogleAuthProvider()
                firebase.auth().signInWithPopup(provider).then(result => {
                    const token = result.credential.accessToken
                    const user = result.user
                    console.log("token:")
                    console.log(token)
                    console.log("user:")
                    console.log(user)
                }).catch(err => {
                    console.error(err)
                })
            })
        </script>
    </body>
</html>
